HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Исключаем папку сборщика Maven (там весь скомпилированный мусор)
/target/

# Исключаем настройки самой IntelliJ IDEA
.idea/
*.iml

# Исключаем конфигурационный файл с паролями и настройками базы
/src/main/resources/application.properties
